<header class="topbar">
  <div class="logo">
    <img src="/img/logo-fitcheck.png" alt="Logo FitCheck"> FitCheck
  </div>
  <nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/perfil">Perfil</a>
    <a href="/metas">Metas</a>
    <a href="/registro">Registo</a>
    <a href="/historico">Histórico</a>
    <a href="/consulta">Consulta</a>
    <a href="/auth/logout" class="nav-sair">Sair</a>
  </nav>
</header>
